/* Colors */
$BGColor: #353535;
$BGDarkerColor: #282828;

.env-selector {
	background-color: $BGDarkerColor;
	border-radius: 23px;
}

.bar {
	background-color: $BGColor;
	border-radius: 20px;
}

/* Workspaces */

.workspace-selector{
	background-color: $BGDarkerColor;
	padding-top:0.5em;
	border-radius:20px 20px 0 0;
}

.workspace-label{
	font-size:8px;
	font-weight:bold;
	margin-left:28px;	
	margin-top:9px;
}

.monitor-test{
	color:red;
}

.workspace-item {
	font-size:26px;
}

.loaded-1 {
	color: white;
}

.workspace-icon {
	padding-bottom:8px;
}


.monitor-underline{
	margin-top:30px;
}

/* TODO: Clases residuales, ahora no se usan mas los borders */
$monitor0:#B15656;
$monitor1:#566AB1;
$monitor2:#B1AD56;
$monitor3:#A8F0AE;
.monitor-0 { 
	border-bottom:1px solid $monitor0; 
} 
.monitor-1 { 
	border-bottom:1px solid $monitor1; 
} 

.monitor-2 { 
	border-bottom:1px solid $monitor2; 
} 
.monitor-3 { 
	border-bottom:1px solid $monitor3; 
}
/* TODO: Las de ariba son clases residuales*/



.warning-icon{
	margin-right:14px; 
	margin-top:7px; 
}
/* 
* Debugging / Generic Styles
*/
.red{
	background-color:red;
}
.grey{
	background-color:grey;
}
.violet{
	background-color:violet;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
