/* Colors */
$BGColor: #353535;
$BGDarkerColor: #202020;
$SelectedColor: rgba(168,166,166,0.1);

.button-no-style{
	background-color: transparent;
	border: none;
}

.env-widgets{
	background-color: $BGDarkerColor;
	margin-top:5em;
	padding: 1em 0;
}

.env-widgets-title{
	color: #636363;
	font-size:11px;
}

.date-box{
	background-color: $BGDarkerColor;
	font-size: 12px;
	font-weight: bold;
}

.env-selector {
	background-color: $BGDarkerColor;
	border-radius: 23px; //TODO: change when adding workspaces
}

.icon-selector-container {
	background-color: $BGDarkerColor;
	padding:0.3em 0 0.3em 0.7em;
}

.icon-selector-icon{
	transition: all .2s ease;
	border-radius: 5px;
}

.icon-selector-icon:hover{
	transition: all .2s ease;
	background-color: $SelectedColor;
}
.clickeable{
	background-color: transparent;
	border:none;
}

.bar {
	background-color: $BGColor;
	border-radius: 20px;
}

/* Workspaces */

.workspace-selector{
	background-color: $BGDarkerColor;
	padding-top:1em;
	border-radius:20px 20px 0 0;
}

.workspace-label{
	font-size:8px;
	font-weight:bold;
	margin-left:28px;	
	margin-top:9px;
}

.screen-test{
	color:red;
}

.workspace-item {
	font-size:26px;
}

.workspace-icon {
	padding-bottom:8px;
}


.screen-underline{
	margin-top:26px;
}

/* TODO: Clases residuales, ahora no se usan mas los borders */
$screen0:#B15656;
$screen1:#566AB1;
$screen2:#B1AD56;
$screen3:#A8F0AE;
.screen-0 { 
	border-bottom:1px solid $screen0; 
} 
.screen-1 { 
	border-bottom:1px solid $screen1; 
} 

.screen-2 { 
	border-bottom:1px solid $screen2; 
} 
.screen-3 { 
	border-bottom:1px solid $screen3; 
}
/* TODO: Las de ariba son clases residuales*/

.warning-icon{
	margin-right:14px; 
	margin-top:7px; 
}
/* 
* Debugging / Generic Styles
*/
.red{
	background-color:red;
}
.grey{
	background-color:grey;
}
.violet{
	background-color:violet;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}


//Rfhyn
// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.time-box {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.4rem;
	background-color: #202020;
	padding: .7rem 0.1rem;
}

.minute-value, .hour-value {
	color: $white;
	font-size: 1.5rem;
}

.minute-label *, .hour-label *{
	color: $gray;
	font-size: .6rem;
	margin-left:3em;
}

//First child of minute-label
.minute-label *:first-child, .hour-label *:first-child{
	margin-bottom:1.2em;
}
//Second child of minute-label
.minute-label *:nth-child(2), .hour-label *:nth-child(2){
	margin-top:1.5em;
}

.light-control {
	margin-bottom: 0.8em;
}

.battery {
	margin-bottom:-0.2em;
	font-size:2.5rem;
}
