window.Bar {
  background: transparent;
}

window.Bar box.container {
  margin: 8px;
}

window.Bar box.top {
  height: 40px;
  background: black;
  border-radius: 10px;
}

window.Bar box.spacer {
  height: 1em;
}

window.Bar box.stick {
  background: black;
  border-radius: 10px;
}
