[Unit]
Description=Ambilight via WLED DDP
After=graphical-session.target

[Service]
ExecStart=/home/js/.customscripts/ambilight.py
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/js/.Xauthority
Restart=on-failure
RestartSec=3
