[Unit]
Description=Ambilight via WLED DDP
After=graphical-session.target

[Service]
ExecStart=/home/js/.customscripts/ambilight.py
Restart=on-failure
RestartSec=3
Nice=19
